<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Top 10 Stocks</title>
</head>

<body>

    <h1>Top 10 Stocks</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Symbol</th>
                <th>score</th>
            </tr>
        </thead>

        <tbody id="stocks">

            <tr th:each="stock : ${stockRankings}">
                <td th:text="${stock.ranking}"></td>
                <td>
                    <a th:href="@{/stocks/{symbol}(symbol=${stock.symbol})}" th:text="${stock.symbol}">symbol</a>
                </td>
                <!-- <td th:text="${stock.symbol}"></td> -->
                <td th:text="${stock.score}"></td>
            </tr>

        </tbody>
    </table>

</body>

</html>